@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600&family=MonteCarlo&family=Montez&family=Montserrat+Subrayada&family=Montserrat:wght@100&family=Share+Tech+Mono&family=Source+Sans+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600&family=Cormorant+Garamond:wght@300&family=Edu+QLD+Beginner&family=MonteCarlo&family=Montez&family=Montserrat+Alternates:ital,wght@1,300&family=Montserrat+Subrayada&family=Montserrat:wght@100&family=Share+Tech+Mono&family=Source+Sans+Pro:wght@200;400&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(img/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7); 
}
nav{
    display: flex; 
    justify-content: space-around;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px;
    align-items: baseline;
    font-family: 'Cormorant Garamond', serif;
    position: fixed;
    width: 100%;
    top: 0px;  
    z-index: 1000;

}

.logo{
    display: flex;
    align-items: baseline;
    cursor: pointer;
    color: #f5f5f5;
    
}
.logo p{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.logo span {
    font-size: 40px;
    transform: translateY(6px);
    margin-left: 7px;

}

.links{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.links a{
    margin-right: 30px;
    font-weight: 800;
    text-decoration: none;
    font-size: 20px;
    color: #f5f5f5;
    transition: 0.7s ease;
    letter-spacing: 1px;
}
a{
    color: #fff;
    text-decoration: none;
}
.links a:hover{
    transform: scale(1.2);
    text-decoration: underline;
}

.sign button{
    width: 150px;
    height: 40px;
    margin-right: 20px;
    border: 1px white solid;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #f5f5f5;
    letter-spacing: 1px;
    padding-bottom: 10px;
    transition: 00.5s ease;


}
.sign button:hover{
    box-shadow: 5px 5px 25px rgba(255,255,255, 0.5);
    transform: scale(1.1);


}
.sign span{
    font-size: 20px;
    transform: translateY(6px);
    margin-right: 5px;
}
.best_seller{
    background-color: transparent;
    padding: 80px 0px;

}
.pizza{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-left: 100px;

}
.pizza img{
    width: 300px;
    height: 300px;

}
.best_seller p{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;

}
.best_seller h1{
    color: #f5f5f5;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;


}
.pizza2 , .pizza7, .pizza5{

    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    padding: 20px 25px 40px 25px ;
    margin: 13px;
    border-radius: 15px;
    width: 300px;
    background-color: #fff;

}
ul{
    margin-top: 15px;
    list-style: none;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;

    
}
.prix{
    color: red;
    font-size: 25px;
    margin-bottom: 7px;
}
.pizza button{
    font-size: 20px;
    width: 170px;
    height: 50px;
    border: 2px solid black;
    background-color: rgba(244, 29, 29, 0.1);
    border-radius: 5px;
    font-family: 'Cormorant Garamond', serif;

    
}
.buy{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    cursor: pointer;
    
}
.pizza button:hover{
    box-shadow: inset 0px 5px 10px rgba(198, 26, 26, 0.5);

}
footer{
    background-color: #000;
    height: 250px;
    
}
footer h1{
    font-size: 30px;
    margin-bottom: -30px;
    color: white;
}
.by{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 60px;
    color: #fff;
}
.material-symbols-outlined{
    color: #fff;
}
.by span{
    color: white;
    font-size: 40px;
    transform: translateY(-10px);
    margin-left: 5px;
}